body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.expense-tracker {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #023047;
}

.expense-tracker h1 {
  font-size: 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-photo {
  width: 180px;
  border-radius: 50%;
}

.sign-out-button {
  border: none;
  margin-top: 50px;
  width: 150px;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.sign-out-button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-transaction {
  display: flex;
}

.radio-styling {
  margin: 0;
  padding-left: 4px;
  margin-right: 2px;
}

.radio-label-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  padding-right: 4px;
  margin-right: 4px;
  border: 1px solid black;
}

.radio-label-styling:first-of-type {
  margin-left: 4px;
}

.add-transaction-button:hover {
  cursor: pointer;
}

.remove-transactions-button {
  background-color: #ca3f3f;
  color: white;
  border-radius: 2px;
  border: none;
}

.remove-transactions-button:hover {
  background-color: #cf2929;
  cursor: pointer;
}

.transactions {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 1em;
  width: 600px;
  height: 400px;
  overflow: auto;
  border: 3px solid #023047;
}

.transactions-title {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 13.75px;
  padding-bottom: 13.75px;
  padding-left: 10px;
}

.transaction-list {
  padding-left: 0;
  margin-top: 0;
}

li {
  list-style: none;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 10px;
}

li.even {
  background-color: #d7d7d7;
  display: flex;
  justify-content: space-between;
}

li.odd {
  background-color: #a1a1a1;
  display: flex;
  justify-content: space-between;
}

.list-item-title {
  font-weight: normal;
  margin: 0;
  padding-bottom: 8px;
}

.bold {
  font-weight: bold;
}

.list-item-p {
  margin: 0;
  font-size: 0.9rem;
}

.list-item-info-div {
  display: flex;
  flex-direction: column;
}

.list-item-checkbox-div {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
